{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4"> About Us! </h1>
        <p class="lead">We are known as the #1 bookstore worldwide.</p>
        <hr class="my-4">
        <p> Hello, we are Group - 3 - of class CS-3337(Section 3) and these are the results of our final project. We made a Book Exchange website that follows our idea of how the website should look like and function. We made it as user-friendly as possible, so the user can be able to purchase a book with no problem.  </p>
        <ul>
            - Group Members -
            <li> Gomez Rosales, Norberto </li>
            <li> Gonzalez Perez, Jesus Fermin </li>
            <li> Gu, Jiajun </li>
            <li> Huerta, Geovanny </li>
            <li> Jarmin, Andrew </li>
            <li> Johnson, Matthew </li>
        </ul>
      </div>
</div>

{% endblock content %}