{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Hello, Welcome to our BookStore10Fold!</h1>
        <p class="lead">We are known as the #1 bookstore worldwide.</p>
        <hr class="my-4">
        <p>We are here to provide you with the best bookstore user experience. </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
</div>

{% endblock content %}