{% extends "base.html" %}
{% load static %}

{% block title %}
    My Books
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div id="table1">
                <span class="rounded-pill p-4 bg-white align-middle border-bottom"><u> My Books </u></span>
            </div>
        </div>
        <div class="col-10">
            <div class="table-wrapper-scroll-y my-custom-scrollbar table-repsonsive mt-4">
                <table class="table table-hover table-borderless bg-white">
                    <thead class="thead-black">
                        <th class="bg-dark text-white text-center">Book Name</th>
                        <th class="bg-dark text-white text-center">Item</th>
                        <th class="bg-dark text-white text-center">User</th>
                        <th class="bg-dark text-white text-center">Price</th>
                        <!-- <th class="bg-dark text-white text-center">Remove</th> -->
                    </thead>
                    {% for book in books %}
                    <tr>
                        <td class="text-center align-middle">
                            <a class ="btn text-black" href="book_detail/{{ book.id }}">
                                {{ book.name }}
                            </a>
                        </td>
                        <td class="text-center align-middle">
                            <img src="{% if book.picture %}
                                            {% static book.pic_path %}
                                    {% else %}
                                            {% static 'logo.jpg' %}
                                    {% endif %}" width="100" height="100"/>
                        </td>
                        <td class="text-center align-middle">
                                    {{ book.username }}
                        </td>
                        <td class="text-center align-middle">
                            {{ book.price}}
                        </td>
                        <!-- <td class="text-center align-middle">
                            <button type="button" class="btn btn-danger"><a class="btn text-white" href="book_delete/{{ book.id }}"> Remove </a></button>
                        </td> -->
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}